<table class="job-table">
  <thead>
    <tr>
      <th>Job Date</th>
      <th>Job ID</th>
      <th>Driver Name</th>
      <th>Job Cost</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.job_date }}</td>
      <td>{{ item.job_id }}</td>
      <td>{{ item.driver_name }}</td>
      <td class="amt">
  ${{ "%.2f"|format(item.job_cost) }}
  {% if item.cash_to_collect > 0 %}
    <br>
    <span style="color: #777;">-{{ "%.2f"|format(item.cash_to_collect) }}</span>
  {% endif %}
</td>

    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
  <td colspan="3" class="text-right"><strong>Total:</strong></td>
  <td><strong>${{ total_amount }}</strong></td>
</tr>
  </tfoot>
</table>
