<div class="header">
    <div class="company-info">
        {% if logo_path %}
      <img src="file://{{ logo_path | urlencode }}" alt="Company Logo" class="company-logo" />
        {% endif %}
        <div class="company-details">
            <p>{{ from_company }}</p>
            <p class="email">{{ from_email }}</p>
            <p class="mobile">{{  from_mobile   }}</p>
        </div>
     
    </div>
    <div class="invoice-info">
        <p><b>INVOICE</b></p>
        <p class="invoice-date">Date: {{ date | date_format('%B %d, %Y') }}</p>
        <p class="term">Term: C.O.D</p>
        <p class="invoice-number">Inv. No: {{ number }}</p>
    </div>
</div>
