<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice {{ number }}</title>
    <style>
        {{ styles }}
    </style>
</head>
<body>
    <div class="page-shell">
        <header class="head-main">
          <div class="page-inner">
              {{ header }}
          </div>
                
        </header>

        <footer id="foot-main foot-main--seed">
          <div class="page-inner">
              {{ footer }}
          </div>
          </footer>

        <div class="invoice-container" id="doc-footer">
            
            <div class="items-section page-inner">
                {{ items_table }}
            </div>
            {{totals}}
          </div>

          <div class="payment-info-main">
    <div class="payment-para">
    <p>{{payment_info}}</p>
    </div>
    <div>
    <img src="file://{{ qr_code | urlencode }}" alt="QR Code" class="qr-code" />
    </div>
  </div>
</div>
       
       

    </div>
   
</body>
</html>
