<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice {{ number }}</title>
    <style>
        {{ styles }}
    </style>
</head>
<body>
    <div class="page-shell">
        <header class="head-main">
          <div class="page-inner">
              {{ header }}
          </div>
        </header>

        <div class="invoice-container" id="doc-footer">
            <div class="items-section page-inner">
                {{ items_table }}
            </div>
            {{totals}}
            
            <div class="payment-info-main">
                <div class="payment-para">
                    <p>{{payment_info}}</p>
                </div>
            </div>
        </div>
        
        <footer id="foot-main" class="foot-main--seed">
          <div class="page-inner">
              {{ footer }}
          </div>
        </footer>
    </div>
</body>
</html>