<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice {{ number }}</title>
    <style>
        {{ styles | safe }}
    </style>
</head>
<body>
    <div class="page-shell">
        <header class="head-main">
          <div class="page-inner">
              {{ header }}
          </div>
        </header>

        <div class="invoice-container" id="doc-footer">
            <div class="page-inner">
                <div class="items-section">
                    {{ items_table }}
                </div>
            </div>

            <div class="bottom-section">
                <div class="payment-info-main">
                    {% if qr_code %}
                    <div class="qr-section-left">
                        <img src="{{ qr_code | file_url }}" alt="QR Code" class="qr-code-left" />
                    </div>
                    {% endif %}
                    <div class="payment-para">
                        {{payment_info | nl2br | safe}}
                    </div>
                </div>
                {{totals}}
            </div>
        </div>
        
        <footer id="foot-main" class="foot-main--seed">
          <div class="page-inner">
              {{ footer }}
          </div>
        </footer>
    </div>
</body>
</html>