<div class="totals-section">
    <table class="totals-table">
        <tr class="totals-row">
            <td class="label">Sub Total</td>
            <td class="value">{{ cash_collect_total | round(2) }}</td>
            <td class="value">{{ sub_total | round(2) }}</td>
        </tr>
        <tr class="divider-row">
            <td colspan="3"><hr class="divider"></td>
        </tr>
        <tr class="totals-row">
            <td class="label">GST (9%)</td>
            <td class="value"></td>
            <td class="value">{{ gst_amount | round(2) }}</td>
        </tr>
        <tr class="divider-row">
            <td colspan="3"><hr class="divider"></td>
        </tr>
        <tr class="totals-row">
            <td class="label">Total Amount</td>
            <td class="value"></td>
            <td class="value">{{ total_amount | round(2) }}</td>
        </tr>
        <tr class="divider-row">
            <td colspan="3"><hr class="divider"></td>
        </tr>
        <tr class="totals-row">
            <td class="label">Cash Collected</td>
            <td class="value">{{ cash_collect_total | round(2) }}</td>
            <td class="value"></td>
        </tr>
    </table>
</div>